<!-- form element -->
<form
  action="/formSubmit"
  method="post"
  enctype="multipart/form-data"
  class="m-3"
>
  <div class="border rounded bg-dark text-light p-3">
    <h1 class="modal-title fs-3 text-center" id="applicationFormLabel">
      Job Application for
      <span class="text-warning"><%= locals.jobDetails.designation %></span>
      at
      <span class="text-primary"><%= locals.jobDetails.compName %></span>
    </h1>
    <div class="fw-semibold text-center mx-auto" style="width: 50%">
      <% if(error){ %>
      <div class="alert alert-danger" role="alert"><%= error %></div>
      <%}%>
    </div>
    <div class="my-3">
      <div class="fw-bolder fs-5 my-2 text-center">
        <i class="fa-regular fa-id-badge m-2"></i>Personal Details
      </div>
      <div class="border rounded p-2">
        <div class="row mb-3">
          <label for="applicantName" class="col-sm-4 col-form-label"
            >Name</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="applicantName"
              name="applicantName"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="applicantEmail" class="col-sm-4 col-form-label"
            >Email</label
          >
          <div class="col-sm-8">
            <input
              type="email"
              class="form-control"
              id="applicantEmail"
              name="applicantEmail"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="applicantPhNum" class="col-sm-4 col-form-label"
            >Phone Number</label
          >
          <div class="col-sm-8">
            <input
              type="tel"
              class="form-control"
              id="applicantPhNum"
              name="applicantPhNum"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="applicantCity" class="col-sm-4 col-form-label"
            >City</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="applicantCity"
              name="applicantCity"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="applicantDob" class="col-sm-4 col-form-label"
            >Date Of Birth</label
          >
          <div class="col-sm-8">
            <input
              type="date"
              class="form-control"
              id="applicantDob"
              name="applicantDob"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="applicantDob" class="col-sm-4 col-form-label"
            >Gender</label
          >
          <div class="col-sm-8">
            <input
              type="radio"
              id="applicantGenderMale"
              name="applicantGender"
              value="MALE"
              checked
            />
            <label for="applicantGenderMale">Male</label>
            <input
              type="radio"
              id="applicantGenderFemale"
              name="applicantGender"
              value="FEMALE"
              class="ms-3"
            />
            <label for="applicantGenderFemale">Female</label>
            <input
              type="radio"
              id="applicantGenderOther"
              name="applicantGender"
              value="OTHER"
              class="ms-3"
            />
            <label for="applicantGenderOther">Other</label>
          </div>
        </div>
      </div>
    </div>
    <div class="my-3">
      <div class="fw-bolder fs-5 my-1 text-center">
        <i class="fa-solid fa-user-graduate m-2"></i>Education Details
      </div>
      <div class="border rounded p-2">
        <div class="row mb-3">
          <label for="applicantEducationLevel" class="col-sm-4 col-form-label"
            >Highest Education Level</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="applicantEducationLevel"
              name="applicantEducationLevel"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="applicantMarks" class="col-sm-4 col-form-label"
            >Marks Obtained</label
          >
          <div class="col-sm-8">
            <input
              type="Number"
              class="form-control"
              id="applicantMarks"
              name="applicantMarks"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="applicantEduDet" class="col-sm-4 col-form-label"
            >More about your Education</label
          >
          <div class="col-sm-8">
            <textarea
              class="form-control"
              id="applicantEduDet"
              name="applicantEduDet"
              rows="5"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="my-3">
      <div class="fw-bolder fs-5 my-1 text-center">
        <i class="fa-solid fa-gears m-2"></i>Experience Details
      </div>
      <div class="border rounded p-2">
        <div class="row mb-3">
          <label for="applicantExpDur" class="col-sm-4 col-form-label"
            >Experience in number of months</label
          >
          <div class="col-sm-8">
            <input
              type="Number"
              class="form-control"
              id="applicantExpDur"
              name="applicantExpDur"
              placeholder="0"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="applicantExpCompName" class="col-sm-4 col-form-label"
            >Company Name</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="applicantExpCompName"
              name="applicantExpCompName"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="applicantExpDes" class="col-sm-4 col-form-label"
            >Designation</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="applicantExpDes"
              name="applicantExpDes"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="applicantExpDet" class="col-sm-4 col-form-label"
            >More about Experience</label
          >
          <div class="col-sm-8">
            <textarea
              class="form-control"
              id="applicantExpDet"
              name="applicantExpDet"
              rows="5"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="border rounded p-2 my-3">
        <div class="row mb-3">
          <label
            for="applicantResume"
            class="col-sm-4 col-form-label fw-bolder fs-5 my-1"
          >
            <i class="fa-solid fa-paperclip mx-2"></i>Upload Your Resume</label
          >
          <div class="col-sm-12">
            <input
              type="file"
              accept="application/pdf"
              class="form-control"
              id="applicantResume"
              name="applicantResume"
              required
            />
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="input-group mb-3">
        <div class="input-group-text">
          <input
            class="form-check-input mt-0"
            type="checkbox"
            name="jobId"
            value="<%= locals.jobDetails.id %>"
            aria-label="Checkbox for following text input"
            required
          />
        </div>
        <span class="form-control" aria-label="Text input with checkbox">
          It is good thing to check your details at least once. Check this box
          if you have verified the details.
        </span>
      </div>
      <div class="d-flex justify-content-center">
        <!-- submit form button to open a model with alert weather to really submit or not -->
        <button type="submit" class="btn btn-info">SUBMIT</button>
      </div>
    </div>
  </div>
</form>
