<div class="container bg-dark text-light rounded m-4 p-3">
  <h1 class="modal-title fs-3 text-center m-3" id="applicationFormLabel">
    Job Application for
    <span class="text-warning"><%= locals.jobDetails.designation %></span>
    at
    <span class="text-primary"><%= locals.jobDetails.compName %></span>
  </h1>
  <div class="fs-5 fw-semibold text-center">
    <% if(applicantId){ %>
    <div class="alert alert-success" role="alert">
      Congratulations! You have successfully applied to the post.<br />
      Your application id is - <%= applicantId %>.<br />
      Further communications will be over the email.
    </div>
    <%}else{%>
    <div class="alert alert-danger" role="alert">
      Sorry! There was a issue during the process please apply again after some
      time.
    </div>
    <%}%>
  </div>
  <div class="d-flex justify-content-center">
    <a class="btn btn-primary btn-lg" href="/home">Redirect to Home Page</a>
  </div>
</div>
